<form [formGroup]="loginForm" (ngSubmit)="formSubmit(loginForm.value)">
  <label for="email">
    <p>Email</p>
    <input type="text" id="email" type="email" formControlName="email">
  </label>
  <label for="password">
      <p>Password</p>
      <input type="text" id="password" type="password" formControlName="password">
  </label>
  <button type="submit">Submit</button>
</form>